body {
    font-family: 'Lato', sans-serif;
    background-color: rgb(31, 31, 31);
    display: block;
}
*{
    scroll-behavior: smooth !important;
}
:root {
    box-sizing: border-box;
    max-width: 1400px;
    height: 2200px;
    margin: auto;
    padding: 50px;
    /* border: 1px solid red; */

}
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
}
.buttonNav {
    background-color: transparent;
    border: 0;
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding: 15px;
    cursor: pointer;
}
.buttonNav:hover {
    color: rgb(146, 255, 146);
    transition: 0.5s;
}
.main {
    position: relative;
    margin-bottom: 50px;
}
.main h1 {
    display: flex;
    text-align: center;
    justify-content: center;
    margin: auto;
    font-size: 72px;
    background: -webkit-linear-gradient(292.46deg,#27ae60 17.79%,#2f80ed 35.92%,#9b51e0 54.06%,#eb5757 71.08%,#f2994a 87.36%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    line-height: 80px;
    width: 570px;
    position: absolute;
    top: 50%;
    left: 50%;
    animation: LewoPrawo 2s infinite  alternate;
}
.main h2 {
    display: flex;
    text-align: center;
    justify-content: center;
    margin: auto;
    padding-top: 30px;
    color: white;
    position: absolute;
    top: 56%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.logoMain {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 256px;
    height: 200px;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.backMain {
    opacity: 0.1;
    border-radius: 15px;
    display:block;
    margin-left:auto;
    margin-right:auto;
    width: 100%;
}
.ptitle {
    color: #27ae60;
    padding: 0px;
    margin: 0px;
}
.plong {
    color: white;
    padding: 0px;
    margin: 0px;
}
.about {
    display: grid;
    margin: auto;
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "aboutHeader aboutHeader aboutHeader"
      "tech . aboutMe"; 
    height: 560px;
}
.aboutHeader {
    grid-area: aboutHeader;
    background-color: rgb(41, 41, 41);
    border-radius: 15px;
    padding: 15px;
    color: white;
    display: flex;
    justify-content: left;
}
.aboutHeader h1 {
    padding: 0px;
    margin: 0px;
}
.aboutPhoto {
    width: 100px;
    height: 100px;
    margin-right: 15px;
    padding-left: 15px;
    border-radius: 5px;
}
.tech {
    grid-area: tech;
    background: rgb(9,255,0);
    background: linear-gradient(342deg, rgba(9,255,0,0.1) 0%, rgba(41,41,41,1) 100%);
    border-radius: 15px;
    padding: 15px;
    margin-top: 50px;
    width: 500px;
    height: 350px;
    color: white;
}
.tech h2 {
    margin: 0px;
    padding: 15px;
}
.tech img {
    width: 80px;
    padding: 15px;
}
.aboutMe {
    grid-area: aboutMe;
    background: rgb(0,255,231);
    background: linear-gradient(342deg, rgba(0,255,231,0.1) 0%, rgb(41, 41, 41,1) 100%);
    border-radius: 15px;
    padding: 15px;
    margin-top: 50px;
    width: 500px;
    height: 350px;
    color: white;
}
.aboutMe h2 {
    margin: 0px;
    padding: 15px;
}
.aboutMe p {
    margin: 0;
    padding: 15px;
}
.logonav {
    width: 80px;
    height: 80px;
}
.logonav:hover {
    animation: fadeInAnimation ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
.promo {
    background-color: #292929;
    border-radius: 15px;
    width: 100%;
    margin-top: 50px;
    padding-bottom: 15px;
}
.promo h1 {
    padding: 15px;
    margin: 0;
    color: white;
    font-weight: 700;
}
.promo p {
    text-align: center;
    padding: 0;
    margin-top: 5px;
    color: white;
}
.promoCard {
    display: flex;
    justify-content: center;
}
.promoProductLeft {
    border-radius: 15px 0px 0px 15px;
    background-color: #414141;
    padding: 15px;
    margin: 5px;
}
.promoProductCenter {
    background-color: #414141;
    padding: 15px;
    margin: 5px;
}
.promoProductRight {
    border-radius: 0px 15px 15px 0px;
    background-color: #414141;
    padding: 15px;
    margin: 5px;
}
.promoProductLeft:hover {
    animation: Wysuwanie 1s infinite  alternate;
    background-color: #575757;
}
.promoProductCenter:hover {
    animation: Wysuwanie 1s infinite  alternate;
    background-color: #575757;
}
.promoProductRight:hover {
    animation: Wysuwanie 1s infinite  alternate;
    background-color: #575757;
}
.promoIcon {
    width: 80px;
}


@keyframes fadeInAnimation {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
@keyframes LewoPrawo {
    0% { transform: translate(-50%, -50%); }
    100% { transform: translate(-47%, -50%); } 
}
@keyframes Wysuwanie {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}


@media screen and (max-width:480px) {
    body {
        display: none;
    }
}